################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FileRemover/obj/Debug
/Nonlinear.PostDeploySteps/bin
/Nonlinear.PostDeploySteps/obj/Debug
/packages
/TDSExample/bin
